html, body {
  font-size: 18px;
  font-family: "Lato", sans-serif;
}

h1 {
  font-family: "Arvo", serif;
  font-size: 2.8rem;
  font-weight: 400;
  text-align: center;
}

h1 span {
  font-family: "Lato", sans-serif;
  font-size: 2.4rem;
  font-weight: 400;
  display: block;
}

/* ===== bxSlider = IMAGE CAPTIONS ===== */
.bx-wrapper .bx-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #666\9;
  background: rgba(255, 255, 255, 0.6);
  width: 100%;
}

.bx-wrapper .bx-caption span {
  color: #333;
  font-family: Arial;
  display: block;
  font-size: .85em;
  padding: 10px;
}

/* ====||||| PUBLIC STYLES |||||==== */
.public .color-box {
  height: 75px;
  width: 75px;
  text-align: center;
  padding-top: 24px;
  background: #52ABDB;
  border: 2px solid #333;
  display: inline-block;
  margin: 20px 7px;
}

.public .color-box.light {
  background: #d1e8f5;
}

.public .color-box.dark {
  background: #19597b;
  color: #fff;
}

.public .color-box.gray {
  background: #aaa;
}

.public .color-box.light-gray {
  background: #f6f6f6;
}

.public .color-box.dark-gray {
  background: #444444;
  color: #fff;
}

.public .navbar-default {
  background-color: #fff;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  border-top: 1px solid #52ABDB;
  border-bottom: 1px solid #52ABDB;
  border-radius: 0;
}

.public .navbar-default .navbar-toggle {
  border-color: #52ABDB;
  background: #52ABDB;
}

.public .navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
}

.public .navbar-nav li:link,
.public .navbar-nav li:hover,
.public .navbar-nav li:active,
.public .navbar-nav li:visited {
  background-color: #fff;
}

.public .navbar-default .navbar-nav > .open > a, .public .navbar-default .navbar-nav > .open > a:focus, .public .navbar-default .navbar-nav > .open > a:hover {
  color: #19597b;
  background-color: #d1e8f5;
}

.public .navbar-default .navbar-nav > li > a {
  color: #52ABDB;
}

.public .navbar-default .navbar-nav > li > a:hover {
  background: #d1e8f5;
  color: lighter(#52ABDB, 30%);
}

.public .dropdown-menu > li > a {
  color: #19597b;
}

.public .dropdown-menu > li > a:hover {
  background-color: #d1e8f5;
  color: #19597b;
}

.public .dropdown-menu > li > a .navbar-nav > li > .dropdown-menu {
  background-color: #fff;
  border-top: 0;
}

.public .dropdown-menu > li > a .dropdown-open {
  background: lighter(#52ABDB, 30%);
}

.public .breadcrumb {
  color: #C0C0C2;
}

.public .image-wrap {
  position: relative;
}

.public .image-wrap img {
  max-width: 100%;
}

.public .image-wrap .image-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 36px;
  background: #52ABDB;
  overflow: hidden;
  text-align: center;
}

.public .button {
  background: #52ABDB;
  color: #fff;
  border-radius: 4px;
  display: inline-block;
  box-shadow: 0 2px 0 #2277a5;
  padding: 7px 12px;
  margin: 5px 0;
}

.public .button.dark {
  background: #19597b;
  box-shadow: 0 2px 0 #a6d4ed;
}

.public .button i {
  margin-left: 5px;
}

.public .feature {
  background: #52ABDB;
  color: #fff;
  padding: 10px 15px;
  margin: 20px 0;
  border: 2px solid #19597b;
  border-left-width: 5px;
  font-weight: 300;
}

.public .feature h4 {
  font-weight: 600;
  font-size: 1.3rem;
}

.public .feature.light {
  background: #d1e8f5;
  color: #333;
  border-left-width: 5px;
}

.public .feature.dark {
  background: #2277a5;
  color: #fff;
  border: 2px solid #a6d4ed;
  border-left-width: 5px;
}

.public .sub-header {
  background-color: #cce6f4;
  color: #333;
  font-size: 24px;
  font-weight: 600;
  padding: 15px 0 15px 50px;
  border-radius: 4px;
  box-shadow: 0 2px 0 #2b96cf;
}

.public .sub-header h2 {
  margin: 0;
  font-weight: 600;
}

.public .sub-header span {
  font-weight: 400;
}

.public footer {
  background: #0c2b3b;
  border-top: 3px solid #52ABDB;
  border-bottom: 6px solid #52ABDB;
  padding: 15px 0;
}

.public footer h5 {
  color: #fff;
  font-size: .95rem;
}

.public footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.public footer .footer-social {
  margin-top: 40px;
}

.public footer .footer-social li {
  background: #2b96cf;
  padding: 5px;
  color: #fff;
  display: inline;
  margin-right: 15px;
}

.public footer .footer-social li:last-child {
  margin-right: 0;
}

/* ====||||| PRIVATE STYLES |||||===== */
.private .color-box {
  height: 75px;
  width: 75px;
  text-align: center;
  padding-top: 24px;
  background: #A174CF;
  border: 2px solid #333;
  display: inline-block;
  margin: 20px 7px;
}

.private .color-box.light {
  background: #eee6f6;
}

.private .color-box.dark {
  background: #552c7e;
  color: #fff;
}

.private .color-box.gray {
  background: #aaa;
}

.private .color-box.light-gray {
  background: #f6f6f6;
}

.private .color-box.dark-gray {
  background: #444444;
  color: #fff;
}

.private .navbar-default {
  background-color: #fff;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  border-top: 1px solid #A174CF;
  border-bottom: 1px solid #A174CF;
  border-radius: 0;
}

.private .navbar-default .navbar-toggle {
  border-color: #A174CF;
  background: #A174CF;
}

.private .navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
}

.private .navbar-nav li:link,
.private .navbar-nav li:hover,
.private .navbar-nav li:active,
.private .navbar-nav li:visited {
  background-color: #fff;
}

.private .navbar-default .navbar-nav > .open > a, .private .navbar-default .navbar-nav > .open > a:focus, .private .navbar-default .navbar-nav > .open > a:hover {
  color: #552c7e;
  background-color: #eee6f6;
}

.private .navbar-default .navbar-nav > li > a {
  color: #A174CF;
}

.private .navbar-default .navbar-nav > li > a:hover {
  background: #eee6f6;
  color: lighter(#A174CF, 30%);
}

.private .dropdown-menu > li > a {
  color: #552c7e;
}

.private .dropdown-menu > li > a:hover {
  background-color: #eee6f6;
  color: #552c7e;
}

.private .dropdown-menu > li > a .navbar-nav > li > .dropdown-menu {
  background-color: #fff;
  border-top: 0;
}

.private .dropdown-menu > li > a .dropdown-open {
  background: lighter(#A174CF, 30%);
}

.private .breadcrumb {
  color: #C0C0C2;
}

.private .image-wrap {
  position: relative;
}

.private .image-wrap img {
  max-width: 100%;
}

.private .image-wrap .image-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 36px;
  background: #A174CF;
  overflow: hidden;
  text-align: center;
}

.private .button {
  background: #A174CF;
  color: #fff;
  border-radius: 4px;
  display: inline-block;
  box-shadow: 0 2px 0 #6e39a4;
  padding: 7px 12px;
  margin: 5px 0;
}

.private .button.dark {
  background: #552c7e;
  box-shadow: 0 2px 0 #d4c0e9;
}

.private .button i {
  margin-left: 5px;
}

.private .feature {
  background: #A174CF;
  color: #fff;
  padding: 10px 15px;
  margin: 20px 0;
  border: 2px solid #552c7e;
  border-left-width: 5px;
  font-weight: 300;
}

.private .feature h4 {
  font-weight: 600;
  font-size: 1.3rem;
}

.private .feature.light {
  background: #eee6f6;
  color: #333;
  border-left-width: 5px;
}

.private .feature.dark {
  background: #6e39a4;
  color: #fff;
  border: 2px solid #d4c0e9;
  border-left-width: 5px;
}

.private .sub-header {
  background-color: #ebe2f5;
  color: #333;
  font-size: 24px;
  font-weight: 600;
  padding: 15px 0 15px 50px;
  border-radius: 4px;
  box-shadow: 0 2px 0 #874ec2;
}

.private .sub-header h2 {
  margin: 0;
  font-weight: 600;
}

.private .sub-header span {
  font-weight: 400;
}

.private footer {
  background: #2f1845;
  border-top: 3px solid #A174CF;
  border-bottom: 6px solid #A174CF;
  padding: 15px 0;
}

.private footer h5 {
  color: #fff;
  font-size: .95rem;
}

.private footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.private footer .footer-social {
  margin-top: 40px;
}

.private footer .footer-social li {
  background: #874ec2;
  padding: 5px;
  color: #fff;
  display: inline;
  margin-right: 15px;
}

.private footer .footer-social li:last-child {
  margin-right: 0;
}

.red {
  border: 1px solid red;
}

a:link.button,
a:active.button {
  text-decoration: none;
}

a:hover.button,
a:visited.button {
  text-decoration: none;
}
