@import "partials/vars";
@import "partials/mixins";
@import "partials/footer";


// Guide Style
html, body {
  font-size: 18px;
  font-family: $sans-serif;
} 
h1 {
  font-family: $serif;
  font-size: 2.8rem;
  font-weight: 400;
  text-align: center;
  span {
  font-family: $sans-serif;
  font-size: 2.4rem;
  font-weight: 400;
  display: block;
  }
}


/* ===== bxSlider = IMAGE CAPTIONS ===== */

.bx-wrapper .bx-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #666\9;
  background: rgba(255, 255, 255, 0.6);
  width: 100%;
  }

.bx-wrapper .bx-caption span {
  color: #333;
  font-family: Arial;
  display: block;
  font-size: .85em;
  padding: 10px;
}

/* ====||||| PUBLIC STYLES |||||==== */
@include theme(public, $blue, $white);
/* ====||||| PRIVATE STYLES |||||===== */
@include theme(private, $purple, $white);

.red {
  border: 1px solid red;
}

a:link.button,
a:active.button {
  text-decoration: none;
}
a:hover.button,
a:visited.button {
  text-decoration: none;
}
// .footer-social {
//   text-align: center;
//   color: $white;
// }


