<div class="col-sm-6">
  <div class="public">
    <h3 id="colors-anchor--public">Colors: Public</h3>
    <div class="color-box light">light</div>
    <div class="color-box">base</div>
    <div class="color-box dark">dark</div>
    <div class="color-box light-gray">light</div>
    <div class="color-box gray">base</div>
    <div class="color-box dark-gray">dark</div>
  </div>
</div>
<div class="col-sm-6">
  <div class="private">
    <h3 id="colors-anchor-private">Colors: Private</h3>
    <div class="color-box light">light</div>
    <div class="color-box">base</div>
    <div class="color-box dark">dark</div>
    <div class="color-box light-gray">light</div>
    <div class="color-box gray">base</div>
    <div class="color-box dark-gray">dark</div>
  </div>
</div>
