<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    {% include 'page_parts/head.html' %}
  </head>
  <body>
  <!-- 100% wide -->
    <header>
      {% include 'page_parts/header.html' %}
    </header>
    <div class="breadcrumb">
      {% include 'page_parts/breadcrumb.html' %}
    </div>
  <!-- two colums 4/8 -->
  <div class="container">
    <div class="row">
      .col
    </div>
  </div>

  {% include 'page_parts/scripts.html' %}

  </body>
</html>
