// Palette URL: http://paletton.com/#uid=13C0u0kl1Wx1x+IcEXDsUWkWEVB */
// Feel free to copy&paste color codes to your application */
// As hex codes */
$white: #fff;
$txt-black: #333;
// PUBLIC
$serif: 'Arvo', serif;
$sans-serif: 'Lato', sans-serif;
$light-public: #D1E8F5;
$dark-public: #19597B;

$gray: #aaa;
$bread-gray: #C0C0C2;
// PUBLIC
$blue: #52ABDB; // #52ABDB

// PRIVATE
$purple: #A174CF; // #52ABDB

$nav-bg: #F3F5F6;
$nav-border: #D4E1E7;

$light-blue: lightblue;


